.header.notice
  %h2 소식과 공지
  %p.keep-all
    “100년 토론광장의 새 소식과 공지사항을 알려드립니다.”
.notice-view
  .tab.js-menu-header
    / 하위메뉴 열림 "selected" class 추가
    %button.js-menu-toggle{type: "button"} 공지
    %ul
      %li
        %a{href: stories_path} 소식
      %li.selected
        %a{href: notices_path} 공지
      %li
        %a{href: faq_path} FAQ
  .c-inner
    %h3 공지 사항
    %p
      100년 토론광장의 공지사항을
      = succeed "알려드립니다" do
        %br/
    = content
