.header.notice
  %h2 소통광장
  %p.keep-all
    “100년 토론광장의 새 소식과 국민의견입니다.”
.notice-view
  .tab.js-menu-header
    / 하위메뉴 열림 "selected" class 추가
    %button.js-menu-toggle{type: "button"} 국민의견
    %ul
      %li
        %a{href: stories_path} 소식
      %li.selected
        %a{href: notices_path} 국민의견
      %li
        %a{href: faq_path} FAQ
  .c-inner
    %h3 국민의견
    %p
      국민 여러분의 생각과 의견을 자유롭게 공유해 주세요.
    = content
