- content = capture do
  .site-content-container
    .site-line-list
      = render @notices
    = paginate @notices

    - if policy(Notice).new?
      .site-btn-basic-container.text-center
        %a.btn.btn-white{ href: new_notice_path } 글쓰기
        %p.text-muted 관리자만 보입니다.

= render 'layouts/story', content: content, container_calss: 'container-xs-no-padding'
