%section
  .container.container-devise
    %h2 회원가입
    %p 회원가입을 진행하시려면 아래의 소셜계정을 선택해 주시기 바랍니다
    %ul
      %li.facebook
        = link_to '페이스북으로 가입하기', user_facebook_omniauth_authorize_path
      %li.naver
        = link_to '네이버로 가입하기', user_naver_omniauth_authorize_path
      %li.kakao
        = link_to '카카오로 가입하기', user_kakao_omniauth_authorize_path
    %p.desc 이미 가입하셨나요?
    .btn
      %a{href: new_user_session_path} 로그인
