<footer>
  <div class="inner">
    <p>3.1운동 및 대한민국 임시정부수립 <br />100주년 기념사업추진위원회</p>
    <ul class="sns">
      <li><a href="https://www.facebook.com/together100years" target="_blank" class="facebook">facebook</a></li>
      <!-- <li><a href="#" class="youtube">youtube</a></li>
      <li><a href="#" class="instagram">instagram</a></li> -->
    </ul>
    <ul class="contactus">
      <li class="tel">02 2100 1449</li>
      <li class="mail"><a href="mailto:together100@korea.kr">together100@korea.kr</a></li>
      <!-- <li><a href="#">이용약관</a></li>
      <li><a href="#">개인정보취급방침</a></li> -->
    </ul>
  </div>
</footer>
