- main_content = capture do
  %strong
    2019 코리아 챌린지
    %br/
    = succeed "," do
      %span.text-inline-block-nowrap 함께 그리는
    %br
      %span.text-nowrap 대한민국 미래
      %span.text-nowrap 100년의 모습!
  %p.keep-all
    새로운 대한민국 100년의 미래, 여러분의 아이디어로 만듭니다.
    %br
    더 나은 미래를 위한 아이디어를 들려주세요. 여러분이 대한민국 미래의 주인공입니다.
  .introduce
    -# %img(alt="" src="#{asset_url('introduce_img.png')}")
    -# %h3 코리아 챌린지는?
    -# %p
    -#   국민이 제안한 아이디어를 국민 판정단, 정책 전문가, 국민의 투표를 통해 선정하고 국 정책에 반영합니다.
    -#   %br
    -#   국민의, 국민에 의한, 국민을 위한 정책으로 새로운 대한민국 100년을 만들 가는데 함께해주세요!
    -# %h3 절차
    -# %ol
    -#   %li
    -#     %span 아이디어 신청
    -#   %li
    -#     %span 서류심사
    -#   %li
    -#     %span 지역예선
    -#   %li
    -#     %span 멘토링
    -#   %li
    -#     %span 본선
    -#   %li
    -#     %span 우승자 선발
    %h3 창의적이어야 합니다.
    %p
      코리아 챌린지는 한국사회를 멋지게 변화시킬 아이디어를 기다립니다.
      %br
      이미 시행되고 있거나 준비 중인 내용이 아닌, 혁신적이고 창의적인 아이디어를 보내주세요!
    %h3 사회에 긍정적 영향을 미칠 수 있어야 합니다.
    %p
      우리가 기다리는 아이디어는 특정 개인이나 집단에게만 이로운 것이 아닌, 우리 사회에 긍정적인 영향을 미칠 수 있는 것입니다.
      %br
      국민이 행복한 나라를 만들 수 있는 아이디어를 보내주세요.
    %h3 실행할 수 있어야 합니다.
    %p
      아무리 좋은 아이디어도 실현할 수 없다면 의미가 없습니다.
      %br
      듣기에 멋진 아이디어가 아니라 실제 실현시킬 수 있는 아이디어를 보내 주세요!
    %h3 쉽고 재미있어야 합니다.
    %p
      코리아 챌린지는 남녀노소 누구나 참여 가능한 ‘국민판정단’과 전문가의 심사로 아이디어를 선정합니다.
      %br
      그래서 쉽고 재미있어야 합니다. 자신이 가진 아이디어를 가장 쉽고 재미있는 방식으로 전달해 주세요!
    %h3 다양한 방법이 가능합니다.
    %p
      서류심사를 통과한 출전자는 예선과 본선에서 10분 간의 발표 시간이 주어집니다.
      %br
      이 시간 동안, 자신의 생각을 표현하기 위한 방법에는
      어떤 제한도 없습니다. 춤과 노래, 실험과 공연도 가능합니다.
      %br
      국민판정단의 마음을 얻기 위한 최선의 방법을 준비해 주세요!
    %h3
    %ul
      %li 예선 발표 시간과 장소는 서류심사를 통과하신 분들에게 별도 공지 합니다.
      %li 예선 발표 시간은 경연자가 많을 경우 축소될 수 있습니다.
      %li 예선에 참여하신 분들에게는 교통비와 발표비가 지원됩니다.
    %h3 절차
    %ol
      %li
        %span 아이디어 접수 및 출전 신청
      %li
        %span 서류 심사
      %li
        %span 예선(국민판정단, 전문심사위원, 온라인 투표)
      %li
        %span 멘토링
      %li
        %span 결선 및 시상
    %h3 신청 방법
    %p
      하단 신청서 양식 다운로드 후 이메일
      %a(href='mailto:2019koreachall@gmail.com') 2019koreachall@gmail.com
      로 제출
    %h3 신청시 주의사항
    %ul
      %li 참가 신청서, 참가자 명단, 참가 서약서를 빠짐 없이 작성해 주시기 바랍니다.
      %li 팀으로 참가할 경우 참가 서약서는 참가자 모두 작성해 주시기 바랍니다.
      %li 참가 신청은 마감일(9월 16일) 18시 도착 분까지 유효합니다.
      %li 서류 심사를 통과하신 분은 개별 안내 드리며, 예선(발표심사) 출전 자격이 주어집니다.
      %li 연락이 닿지 않거나 응답하지 않는 신청자는 심사 결과를 무효로 처리합니다.
      %li<>
        %span.text-nowrap 예선과 본선 참가자는 3분 내외의
        %span.text-nowrap 아이디어 소개 영상을
        %span.text-nowrap 자유롭게 제작한 후,
        %span.text-nowrap 소개 페이지에 올릴 수 있습니다.
        %span.text-nowrap (온라인 투표 시 노출됩니다.)
  .m-btn{ style: 'padding-bottom: 50px'}
    %a(href="/코리아챌린지_신청양식.zip") 신청서 양식 다운로드

= render 'pages/about_layout', main_content: main_content, page_title: '이런 아이디어를 기다립니다'
