<div id="skipNav">
      <ul>
        <li><a href="#snContent">본문바로가기</a></li>
        <!-- <li><a href="#snMenu">주메뉴 바로가기</a></li> -->
      </ul>
    </div>
    <div class="wrapper">
      <div class="top-wrap sub">
        <!-- <header>
          <nav id="snMenu">
          <button type="button"><span>메뉴열기</span></button>
            <div>
              <ul>
                <li><a href="#">경연대회 안내</a></li>
                <li class="selected"><a href="#">챌린지 하이라이트</a>
                  <ul>
                    <li><a href="#">행사 뉴스</a></li>
                    <li><a href="#">예선 경연</a></li>
                    <li><a href="#">본선 경연</a></li>
                    <li><a href="#">수상 결과</a></li>
                  </ul>
                </li>
                <li><a href="#">아이디어 제출</a></li>
                <li><a href="#">공지/FAQ</a></li>
                <li><a href="#">경연 결과</a></li>
              </ul>
              <button type="button"><span>메뉴닫기</span></button>
            </div>
          </nav>
        </header> -->
        <div class="tit-wrap">
          <h2>
            <%= link_to root_path do %>
              <span>코리아챌린지</span>
            <% end %>
            경연대회 안내
          </h2>
        </div>
      </div>
      <hr />
      <main id="snContent" style="padding-bottom: 0">
        <!-- <div class="tab">
          <button type="button">대회 소개</button>
          <ul>
            <li class="selected"><a href="#">소개</a></li>
            <li><a href="#">대회 일정</a></li>
            <li><a href="#">심사 기준</a></li>
            <li><a href="#">유의 사항</a></li>
            <li><a href="#">오시는 길</a></li>
          </ul>
        </div> -->
        <div class="sub-cnts">
          <strong>코리아 챌린지<br /><span class="text-inline-block-nowrap">먼저 만나는 미래</span>, <span class="text-inline-block-nowrap">세상을 바꿀 <b>아이디어</b></span></strong>
          <p class="keep-all">새로운 대한민국 100년, 국민의 아이디어로 만듭니다.<br />한국사회를 혁신할 아이디어를 들려주세요. 당신이 대한민국 미래 100년의 주인공입니다.</p>
          <div class="introduce">
            <img src="<%= asset_url('introduce_img.png') %>" alt="" />
            <h3>코리아 챌린지는?</h3>
            <p>한국사회를 바꿀 아이디어를 10분간 공개하고, 국민판정단의 선택으로 우승자를 가립니다. <br />본선진출자에게는 관련 기관 및 단체, 해당 전문가의 멘토링 기회를, 본선 우승자에게는 1919만원의 상금이 수여됩니다.</p>
            <h3>절차</h3>
            <ol>
              <li><span>아이디어 신청</span></li>
              <li><span>서류심사</span></li>
              <li><span>지역예선</span></li>
              <li><span>멘토링</span></li>
              <li><span>본선</span></li>
              <li><span>우승자 선발</span></li>
            </ol>
            <h3>신청유형 예시</h3>
            <ul class="ltype2">
              <li>한국사회문제 해결을 위한 법‧제도 개선 아이디어</li>
              <li>한국사회 질을 높이기 위한 문화‧예술적 아이디어</li>
              <li>4차산업혁명 시대를 선도할 기술적 아이디어</li>
              <li>그 외 대한민국 발전을 위한 창의적 아이디어</li>
            </ul>
            <h3>발표형식(예선, 본선)</h3>
            <p>10분 이내, 무대시설이 허용하는 범위 내에 어떤 형식제한도 없음</p>
            <h3>심사방식</h3>
            <ul>
              <li>심사기준 : 독창성, 창의성, 효과성, 해결가능성</li>
              <li>심사방법 : 전문심사위원과 국민판정단 점수 합산</li>
            </ul>
            <h3>일정</h3>
            <ul>
              <li>신청 마감 : 추후 공지</li>
              <li>예선 : 추후 공지</li>
              <li>본선 : 추후 공지</li>
            </ul>
          </div>
          <!-- <div class="m-btn">
            <a href="#">아이디어 제출</a>
          </div> -->
        </div>
      </main>
      <hr />
      <%= render 'pages/footer' %>
    </div>
