#skipNav.js-hamburger-open-invisible.js-hamburger-close-visible
  %ul
    %li
      %a(href="#snContent") 본문바로가기
    / <li><a href="#snMenu">주메뉴 바로가기</a></li>
.wrapper
  .top-wrap
    = render 'application/toolbar', selected: :home
    .top-cnts.js-hamburger-open-invisible.js-hamburger-close-visible
      %h1
        %span.text-nowrap
          2019
        %span.text-nowrap
          코리아 챌린지:
        %span.text-nowrap
          국민 제안,
        %span.text-nowrap
          국민 선택
      %strong
        %span.big 함께 그리는 대한민국 미래 100년
      %p.keep-all
        새로운 대한민국 100년의 미래,
        %br
        여러분의 아이디어로 만듭니다.
      %p.keep-all
        더 나은 미래를 위한 아이디어를 들려주세요.
        %br
        여러분이 대한민국 미래의 주인공입니다.
      .desc
        %em 2019 코리아 챌린지에 참여하려면?
        %p 여러분은 출전자와 국민 판정단, 온라인 투표에 참여할 수 있습니다.
        %ul
          %li
            출전자
            %br
            한국사회를 업그레이드 할 수 있는 창의적인 아이디어를 보내주세요.
            %br
            서류심사를 통과한 분께는 10분 동안 자신의 아이디어를 발표할 기회를 드립니다. 본선에서 우승한 분께는 1919만원의 상금과 상장을 드려요!
          %li
            국민판정단
            %br
            예선과 본선에 올라온 아이디어를 직접 심사할 수 있는 기회를 드립니다.
            %br
            출전자들의 멋진 발표를 직접 지켜보고 가장 좋은 아이디어를 선택해 주세요!
          %li
            온라인 투표
            %br
            예선과 본선 출전자에 대한 온라인 투표에 참여할 수 있습니다.
            %br
            바로 이 페이지에서 온라인 투표를 기다려 주세요!
      .btn
        %a(href=about_path) 출전 안내
        %a.actv.after-angle(href=about_path) 참가 신청
      .desc{ style: 'padding-top: 0;' }
        %p 국민판정단은 서류신청 접수 마감 후 모집합니다
    .schedule
      %h2
        코리아챌린지
        %br
        일정
      %ol
        %li.selected
          %span ~ 9.16
          %p
            아이디어 신청
          %a(href=about_path) 진행 중
        %li
          %span 9.16 ~ 10.2
          %p
            1차 서류
            %br
            심사
        %li
          %span 10.16 ~ 10.26
          %p
            온라인
            %br
            국민 투표
        %li
          %span 10.16 ~ 10.26
          %p
            2차 현장
            %br
            심사
        %li
          %span 10.28 ~ 11.8
          %p
            오리엔테이션
            %br
            및 리허설
        %li
          %span 10.28 ~ 11.15
          %p
            온&middot오프라인
            %br
            1:1 멘토링
        %li
          %span 11.16
          %p
            본선 및
            %br
            시상식
        -# %li
        -#   %span 8.21.
        -#   %i LIVE
        -#   %p
        -#     예선 경연
        -#     %span
        -#       광주.  부산
        -#       %br
        -#       대전.  수원
        -# %li
        -#   %span 10.21.
        -#   %p
        -#     아이디어 내용
        -#     %br
        -#     심화
        -# %li
        -#   %span 11.21.
        -#   %i LIVE
        -#   %p
        -#     본선 경연
        -#     %span 수도권

  %hr.js-hamburger-open-invisible.js-hamburger-close-visible
  = render 'application/footer'
