- main_content = capture do
  .introduce
    %h3 공모 목적
    %ul
      %li 국민 제안, 선택을 통한 국민 주도형 혁신 아이디어 발굴
      %li 대국민 참여형 제안 및 공모를 통한 국민 참여 및 관심 제고
    %h3 주관과 주최
    %p 대통령직속 3·1 운동 및 대한민국임시정부 수립 100주년 기념사업추진위원회
    %h3 공모 주제
    %ul
      %li 지속가능한 국가성장을 위한 정책(4차 산업혁명, 창업과 혁신성장, 기후변화 등)
      %li 고르게 발전하는 포용사회를 위한 정책(사회보험, 저출산, 고령화, 다문화 등)
      %li 한반도의 평화와 번영을 위한 정책(남북관계, 통일정책, 책임국방, 외교정책 등)
      %li 국민이 주인인 나라를 위한 정책(민주주의, 권력구조 개혁, 적폐청산, 민생치안 등)
      %li 그 외 대한민국 미래발전을 위한 창의적인 아이디어
    %h3 공모 기간
    %p 공고일 ~ 9월 16일(월)
    %h3 공모 자격
    %p 대한민국 국민이면 누구나 (개인 또는 팀)
    %h3 시상 내역
    %ul
      %li 대상 1명 - 상금 1,919만원
      %li 금상 1명 - 상금 411만원
      %li 은상 1명 - 상금 301만원
      %li 동상 1명 - 상금 100만원
      %li 장려상 4명 - 상금 50만원
    %h3 심사 기준
    %ul
      %li 창의성 : 이미 시행되고 있거나 시행을 논의 중이지 않은 창의적 아이디어
      %li 사회적 효과성 : 아이디어가 사회에 미칠 긍정적 영향
      %li 실현 가능성 : 아이디어를 실현할 수 있는 현실적 가능성
      %li 국민 전달력 : 정책에 대한 국민의 이해도 및 호응도
    %h3 문의
    %p 코리아 챌린지 운영사무국(전화 02-000-0000)
    %h3 신청 방법
    %p
      하단 신청서 양식 다운로드 후 이메일
      %a(href='mailto:koreachallenge@gmail.com') koreachallenge@gmail.com
      로 제출
  .m-btn{ style: 'padding-bottom: 50px'}
    %a(href="/코리아챌린지_신청양식.zip") 신청서 양식 다운로드

= render 'pages/about_layout', main_content: main_content, page_title: '공모 요강'
