%section.site-header
  .container
    .clearfix
      = image_tag 'pages/judge.png', class: 'site-header-image'
      .site-header-title 국민판정단

%section
  .container
    .site-content-container
      .site-basic-contents.text-basic-wrap
        %h3 대한민국의 미래, 여러분이 선택합니다
        %p
          코리아챌린지는 한국사회를 더 멋지고 아름답게 바꿀 수 있는 아이디어를 경연합니다.
          %br
          기발하고 창의적인 아이디어는 바로 여러분의 선택으로 우승자가 결정됩니다.
        %h3 사전 참가 신청자 중 추첨으로 판정단을 선발합니다.
        %p
          국민판정단은 사전 참가 신청해 주신 분들 중, 성별과 나이 등을 고려하여 무작위로 추첨합니다.
          %br
          최종 판정단 후보로 선정되신 분들은 예선과 본선 개최 1주일 전부터 개별 통지 됩니다.
          %br
          연락을 받으신 후, 최종 참가 회신을 보내주시면 국민판정단으로 확정됩니다.
        %p
          더 좋은 대한민국을 위해 공정한 판정단이 되어 주십시오!
        %ul
          %li 국민판정단으로 선정되어 심사에 참여하신 분들에게는 소정의 참가비와 100주년 한정판 기념품을 드립니다.
        %h3 판정단의 약속
        %ul
          %li 국민판정단은 사사로운 인연이나 관계에 얽매이지 않고 공정하게 평가합니다.
          %li 국민판정단은 개인의 이익보다 사회 전체의 공공적 가치를 위해 평가합니다.
        %h3 일정
        %ul
          %li 예선 심사 : 추후 공지
          %li 본선 심사 : 2019년 11월 23일(토)
        %h3 심사기준
        %ul
          %li 창의성 : 이미 시행되고 있거나 시행을 논의 중이지 않은 창의적 아이디어
          %li 사회적 효과성 : 아이디어가 사회에 미칠 긍정적 영향
          %li 실현 가능성 : 아이디어를 실현할 수 있는 현실적 가능성
          %li 국민 전달력 : 정책에 대한 국민의 이해도 및 호응도
      .site-btn-basic-container.text-center
        %a.btn.btn-outline-primary.js-alert.disabled{ href: "#", 'data-message': '국민판정단 신청은 9월 중 접수합니다', 'aria-disabled': 'true' } 국민판정단 신청하기(준비 중)
        .text-muted.mt-1 국민판정단 신청은 9월 중 접수합니다.

