#skipNav
  %ul
    %li
      %a(href="#snContent") 본문바로가기
    / <li><a href="#snMenu">주메뉴 바로가기</a></li>
.wrapper
  .top-wrap.sub
    = render 'application/toolbar'
    .tit-wrap
      %h2
        = link_to root_path do
          %span 코리아챌린지
        개인정보취급방침
  %hr/
  %main#snContent(style="padding-bottom: 0")
    .sub-cnts(style="padding-right: 10px;")
      .introduce
        %p.keep-all
          개인정보처리방침
          %br
          담당 소통홍보과 손우정 사무관
          %br
          02-2100-1428 roots96@korea.kr
      .introduce
        %p.keep-all
          개인정보 처리방침이란 ?
          %br
          3·1운동 및 대한민국임시정부 수립 100주년 기념사업 추진위원회(이하 “위원회”)는 대국민 서비스 제공 및 민원처리, 소관업무 수행 등의 목적으로 이용자의 동의를 기반으로 개인정보를 수집·이용 및 제공함에 있어 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하고 있으며 이용자의 권리(개인정보자기결정권)를 적극적으로 보장하고 있습니다.

        %h3 제 1 조 개인정보의 수집
        %p 모든 이용자는 위원회가 제공하는 서비스를 이용할 수 있고, 본인의 소셜계정을 이용한 로그인을 통해 더욱 다양한 서비스를 제공받을 수 있습니다. 이용자의 개인정보를 수집하는 경우 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하도록 하겠습니다. 수집방법에는 서비스 이용, 이벤트 응모, 팩스, 전화 등이 있으며 아래 원칙을 준수하고 있습니다.

        %h3 제 2 조 수집한 개인정보의 이용
        %p 위원회는 서비스 개발·제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다.
        %p
          콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등을 위하여 개인정보를 이용합니다.
          %br
          이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다.
          %br
          서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등에 개인정보를 이용합니다.
          %br
          보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.

        %h3 제 3 조 개인정보의 제공 및 위탁

        %p
          위원회는 원칙적으로 이용자 동의 없이 개인정보를 외부에 제공하지 않습니다.
          %br
          위원회는 이용자의 사전 동의 없이 개인정보를 외부에 제공하지 않습니다. 단, 이용자가 외부 제휴사의 서비스를 이용하기 위하여 개인정보 제공에 직접 동의를 한 경우, 그리고 관련 법령에 의거해 위원회에 개인정보 제출 의무가 발생한 경우, 이용자의 생명이나 안전에 급박한 위험이 확인되어 이를 해소하기 위한 경우에 한하여 개인정보를 제공하고 있습니다.

        %h3 제 4 조 개인정보의 파기

        %p
          위원회는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다.
          %br
          단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.

        %p
          이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우는 아래와 같습니다.
          %br
          부정가입 및 징계기록 등의 부정이용기록은 부정 가입 및 이용 방지를 위하여 수집 시점으로부터 6개월간 보관하고 파기하고 있습니다. 부정이용기록 내 개인정보는 가입인증 휴대폰 번호(만 14세 미만 회원의 경우 법정대리인 DI)가 있습니다.
  %hr
  = render 'application/footer'
