- main_content = capture do
  .introduce
    %ol.schedule
      %li
        .item
          .box-wrapper
            .box
              .title 아이디어 신청
              .subtitle 공고일 ~ 9월 16일 (월)
          %ul.desc
      %li
        .item
          .box-wrapper
            .box
              .title 1차 서류심사
              .subtitle 9월 17일 (화) ~ 9월 20일 (금)
          %ul.desc
            %li &middot; 서류심사 통과자 대상 1분 소개 영상 개별 제작 및 공식 홈페이지 게재
            %li &middot; 1개 SNS 계정당 온라인 1회 투표 진행
            %li &middot; 득표율에 따른 점수 차등 부여 (최대 10점)
      %li
        .item
          .box-wrapper
            .box
              .title 온라인 국민 투표
              .subtitle 9월 30일 (월) ~ 10월 4일 (금)
          %ul.desc
            %li &middot; 심사위원: 각 분야 정책전문가
            %li &middot; 평가기준: 구체성(20), 실현가능성(20), 창의성(20), 국민체감도(20), 사회기여도(20)
            %li &middot; 선정 및 발표: 접수 결과에 따라 분류
            %li &middot; 본선 참가팀 3~4배수 선발
            %li &middot; 홈페이지 및 유선 안내
      %li
        .item
          .box-wrapper
            .box
              .title 2차 현장 심사
              .subtitle 10월 3일 (목) ~ 10월 4일 (금)
          %ul.desc
            %li &middot; 대상: 서류 심사 통과팀 (본선진출 3~4배수)
            %li &middot; 평가내용: 각 팀별 발표 5분, 질의응답 5분 (형식 자유)
            %li &middot; 평가기준: 실현가능성(20), 창의성(20), 사회기여도(20), 국민체감도(20), 발표(20)
            %li &middot; 평가점수: 심사위원(50), 국민판청단(40), 국민투표(10)
            %li &middot; 선정 및 발표: 본선 참가자 8팀 최종 선정 및 발표
      %li
        .item
          .box-wrapper
            .box
              .title 자문단 멘토링 및 실현회의
              .subtitle 10월 11일 (목) ~ 11월 1일 (금)
          %ul.desc
            %li &middot; 대상: 각 분야별 전문가 자문단, 본선 참가 8개팀
            %li
              &middot; 운영내용
              %ul
                %li - 1회 본선 진출팀 오리엔테이션: 멘토 지정 및 멘토링 방법 협의
                %li - 2회 본선 발표 내용 점검, 최종 보완: 이미지 컨설팅, 스피치 강연
      %li
        .item
          .box-wrapper
            .box
              .title 온·오프라인 1:1 멘토링
              .subtitle 10월 13일 (일) ~ 11월 9일 (토)
          %ul.desc
            %li &middot; 대상: 각 분야별 전문가 자문단, 본선 참가 8개팀
            %li
              &middot; 운영내용
              %ul
                %li - 담당 멘토 1:1 온·오프라인 코칭
                %li - 온라인 카페를 활용한 실시간 멘토링
                %li - 주 1회, 오프라인 개별 멘토링
      %li
        .item
          .box-wrapper
            .box
              .title 본선 및 시상식
              .subtitle 11월 9일 (토)
          %ul.desc
            %li &middot; 평가점수 : 심사위원(50), 국민판청단(40), 국민투표(10)
            %li &middot; 최종 점수 합산 후 발표

= render 'pages/about_layout', main_content: main_content, page_title: '대회 일정'
