- content = capture do
  .site-content-container
    = render 'polls/static_notice'
    - if @polls.any?
      .site-line-list-container.mb-5
        .site-card-list.site-card-list-poll
          = render @polls.to_a.shuffle
    - elsif @polls.empty?
      .site-basic-contents
        .text-center.text-muted.mb-5
          준비 중입니다.

= render 'layouts/poll', content: content
