- title '페이지에 대한 접근이 금지되었습니다. : 코리아 챌린지'
.contents-w
  .c-inner.err{ style: 'text-align: center; margin-top: 100px'}
    %img{alt: "403 ERROR", src: asset_url('err.png'), style: 'max-width: 100%'}/
    %p
      찾으시는 페이지에 대한 접근이 금지되었습니다.
      %br/
