- title '찾으시는 페이지가 존재하지 않거나, 현재 사용할 수 없는 페이지 입니다. : 100년 토론광장'
.contents-w
  .c-inner.err-404{ style: 'text-align: center; margin-top: 100px'}
    %img{alt: "404 ERROR", src: asset_url('err_404.png'), style: 'max-width: 100%'}/
    %p
      찾으시는 페이지가 존재하지 않거나,
      = succeed "현재 사용할 수 없는 페이지 입니다." do
        %br/
