- title '해당 페이지에 접근할 권한이 없습니다. : 코리아 챌린지'
.contents-w
  .c-inner.err{ style: 'text-align: center; margin-top: 100px'}
    %img{alt: "401 ERROR", src: asset_url('err.png'), style: 'max-width: 100%'}/
    %p
      해당 페이지에 접근할 권한이 없습니다.
    %p
      페이지를 불러올 수 없습니다.
