%section
  .container.container-devise
    %h2 로그인
    %p 로그인할 소셜계정을 선택해 주시기 바랍니다
    %ul
      %li.facebook
        = link_to '페이스북으로 로그인', user_facebook_omniauth_authorize_path
      %li.naver
        = link_to '네이버로 로그인', user_naver_omniauth_authorize_path
      %li.kakao
        = link_to '카카오로 로그인', user_kakao_omniauth_authorize_path
    %p.desc 처음이신가요?
    .btn
      %a{href: new_user_registration_path} 회원가입
