$brand-primary-color: #198329;
$brand-primary-important-color: #0c6d1e;
$brand-primary-weak-color: #86d692;
$text-base-color: #111111;
$text-light-color: #4a4a4a;
$text-inactive-color: #6d7278;
$text-meta-color: #8e8e93;
$line-color: #d8d8d8;
$line-light-color: #e0e0e0;
$bg-light-color : #f5f5f5;

$custom-file-text: (
  en: "Browse",
  ko: "찾기"
);

$theme-colors: (
  "primary": $brand-primary-color,
  "danger": #e02020
);

@import "bootstrap";
@import "vendors";

body {
  color: $text-base-color;
}
a {
  cursor: pointer;
}

a.btn.btn-primary,
a.btn.btn-primary:hover {
  color: white;
}

.text-basic-wrap {
  word-break: keep-all;
  overflow-wrap: break-word;
}

.btn-white {
  @include button-variant(white, $brand-primary-color);
}

a.btn.btn-white, input.btn.btn-white,
a.btn.btn-white:hover, input.btn.btn-white:hover,
a.btn.btn-white:focus, input.btn.btn-white:focus,
a.btn.btn-white:active, input.btn.btn-white:active {
  color: $brand-primary-important-color;
}

.btn-meta {
  @include button-variant(white, $line-light-color);
}

.btn.btn-meta, a.btn.btn-meta, input.btn.btn-meta,
.btn.btn-meta:hover, a.btn.btn-meta:hover, input.btn.btn-meta:hover,
.btn.btn-meta:focus, a.btn.btn-meta:focus, input.btn.btn-meta:focus,
.btn.btn-meta:active, a.btn.btn-meta:active, input.btn.btn-meta:active {
  color: $text-meta-color;
}

.container.container-xs-no-padding {
  padding-left: 0;
  padding-right: 0;
}



a.nav-link.btn.btn-outline-primary.nav-btn {
  color: $brand-primary-color;
}
a.nav-link.btn.btn-outline-primary.nav-btn:hover,
a.nav-link.btn.btn-outline-primary.nav-btn:active {
  color: white
}
.cursor-pointer {
  cursor: pointer;
}
.text-nowrap {
  white-space: nowrap;
}
.text-decoration-none {
  text-decoration: none;
}

nav.navbar {
  font-size: 16px;
  .btn {
    font-size: 14px;
  }
}

nav.navbar .nav-item > a.nav-link {
  font-size: 16px;
  color: $text-inactive-color;
  &.active, &:hover, &:focus, &:active {
    color: $text-base-color;
    @include media-breakpoint-up(md) {
      font-weight: 600;
    }
  }
}

@include media-breakpoint-down(sm) {
  nav.navbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    > .container {
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0;
      max-width: none;
      > .navbar-brand-container {
        width: 100%;
        display: flex;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 8px;
        > .navbar-brand {
          flex: 1;
        }
      }
      .navbar-toggler.navbar-toggler-noborder {
        border-width: 0;
        outline: none;
        .navbar-toggler-icon {
          background-image: asset_url('home/menu-open.png');
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  nav.navbar.navbar-collapse {
    height: 100vh;
    > .container {
      .navbar-nav {
        margin-bottom: 0;
        width: 100%;
        > .nav-item > a.nav-link {
          color: $text-inactive-color;
          font-size: 18px;
          &.active {
            color: $text-light-color;
            font-weight: 600;
          }
        }
        &.navbar-nav-utils > .nav-item > a.nav-link.btn {
          color: $brand-primary-color;
          font-size: 14px;
          &:active, &:hover, &:focus {
            color: white;
          }
        }
        &.navbar-nav-contents {
          flex: 1;
          &.navbar-nav-contents-user-signed-in {
            flex: 0;
          }
          > .nav-item {
            border-bottom: 1px solid $brand-primary-weak-color;
            padding-left: 16px;
            padding-right: 16px;
            background-color: white;
          }
        }
        &.navbar-nav-utils {
          display: flex;
          flex-direction: row;
          padding-left: 16px;
          padding-right: 16px;
          background-color: white;
          margin-bottom: 70px;
          &.navbar-nav-utils-user-signed-in {
            border-bottom: 1px solid $brand-primary-weak-color;
          }
          > .nav-item {
            flex: 1;
            & + li.nav-item {
              margin-left: 16px;
            }
          }
          .dropdown-menu {
            margin-left: -16px;
            margin-right: -16px;
            border-radius: 0;
            border: none;
            padding: 0;
            li {
              border-top: 1px solid $line-light-color;
              background-color: $bg-light-color;
              a {
                line-height: 35px;
                color: $text-light-color;
              }
            }
          }
        }
      }
      .navbar-collapse.show {
        border-top: 1px solid $brand-primary-color;
        flex: 1;
        width: 100%;
        flex-direction: column;
        display: flex;
      }
      .navbar-toggler.navbar-toggler-noborder {
        .navbar-toggler-icon {
          background-image: asset_url('home/menu-close.png');
        }
      }
    }
  }
}

.site-line-list .site-line-list-item,
.site-card-list .site-card-list-item {
  .title {
    margin-top: 16px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    color: $text-light-color;
    overflow: hidden;
  }
  &:hover .title {
    color: $text-base-color;
  }
  .info {
    color: $text-meta-color;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    .counts > .count + .count {
      margin-left: 8px;
    }
    .counts > .count.active {
      color: $brand-primary-color;
    }
  }
  &:hover .info {
    color: $text-light-color;
  }
}

.site-line-list {
  margin-top: 40px;
  margin-bottom: 40px;
  @include media-breakpoint-down(xs) {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .site-line-list-item {
    padding: 16px;
    border-bottom: 1px solid $line-light-color;
  }
}
.site-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  .site-card-list-item {
    flex-basis: 50%;
    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    .img {
      height: 180px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $line-color;
      background-size: cover;
      &.img-default {
        background-size: initial;
      }
    }
    &:hover .img {
      box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.27), inset 0px -1px 0 0 #d2d2d2;
    }
  }
  @include media-breakpoint-up(sm) {
    .site-card-list-item:nth-child(odd) {
      padding-left: 40px;
      padding-right: 20px;
    }
    .site-card-list-item:nth-child(even) {
      padding-left: 20px;
      padding-right: 40px;
    }
  }
}

.site-line-list-faq {
  .site-line-list-item {
    .title, .body {
      padding-left: 32px;
      position: relative;
    }
    .title:before {
      content: ' ';
      background-image: asset_url('pages/faq_q');
      min-width: 22px;
      min-height: 22px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: text-bottom;
      position: absolute;
      left: 0;
    }
    .body {
      font-weight: normal;
    }
    .body:before {
      content: ' ';
      background-image: asset_url('pages/faq_a');
      min-width: 22px;
      min-height: 22px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: text-bottom;
      position: absolute;
      left: 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.site-detail {
  margin-top: 60px;
  margin-bottom: 60px;
  @include media-breakpoint-down(xs) {
    margin-top: 20px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .info {
    font-size: 16px;
    color: $text-meta-color;
    .view {
      margin-left: 12px;
    }
  }
  .body {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 16px;
    .image-container {
      text-align: center;
      img {
        width: 100%;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .btns {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(xs) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .btn-meta-detail, .btn-meta-detail-auto {
    padding: 4px 8px;
  }
  .btn-meta-detail {
    width: 94px;
    @include media-breakpoint-down(xs) {
      flex: 1;
      width: auto;
    }
    a[data-toggle=dropdown] {
      width: 100%;
      display: inline-block;
    }
    .dropdown-menu {
      top: 4px !important;
      left: 8px !important;
    }
  }
  .btns-right {
    .list {
      color: $text-inactive-color;
    }
  }
  @include media-breakpoint-down(xs) {
    .btns-left {
      flex-basis: 100%;
      display: flex;
    }
    .btn-meta-detail + .btn-meta-detail {
      margin-left: 10px;
    }
    span.dropdown {
      flex: 1;
      margin-left: 10px;
      .btn-meta-detail {
        width: 100%;
      }
    }
    .btns-right {
      margin-top: 20px;
      padding-top: 20px;
      margin-bottom: 20px;
      border-top: 1px solid $line-light-color;
      width: 100%;
      text-align: center;
    }
  }
}

.site-form {
  margin-top: 60px;
  margin-bottom: 60px;
  @include media-breakpoint-down(xs) {
    margin-bottom: 0;
    margin-top: 40px;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
  }
  .form-group.form-group-submit {
    padding-top: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 1px solid $line-light-color;
    text-align: center;
  }
}

.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $bg-light-color;
  text-align: center;
  border-top: 1px solid $brand-primary-weak-color;
  .site-header-image {
    height: 64px;
    margin-right: 16px;
    @include media-breakpoint-down(sm) {
      float: right;
      width: 44px;
    }
  }
  .site-header-title {
    display: inline-block;
    color: $brand-primary-important-color;
    font-size: 20px;
    font-weight: 500;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      float: left;
      line-height: 44px;
    }
  }
}

.site-paging {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  & > span {
    a {
      text-decoration: none;
      color: $text-meta-color;
      &:hover {
        color: $brand-primary-color;
      }
    }
    strong, a {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  a.next, a.prev {
    border: 1px solid $text-meta-color;
    padding: 4px;
    color: $text-meta-color;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    &:hover {
      color: $brand-primary-color;
      border-color: $brand-primary-color;
    }
  }
}

.site-tabs {
  ul.nav {
    .nav-item {
      flex: 1;
      text-align: center;
      line-height: 54px;
      font-size: 14px;
      & > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $text-inactive-color;
        text-decoration: none;
      }
      border-bottom: 1px solid $line-light-color;
      &.active, &:active, &:hover {
        @include media-breakpoint-up(md) {
          border-bottom: 2px solid $brand-primary-color;
        }
        & > a {
          color: $text-base-color;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    > .container {
      max-width: none;
      padding: 0;
    }
    border-bottom: 1px solid $line-color;
    ul.nav {
      flex-direction: column;
      .nav-item {
        display: none;
        border-width: 0;
        &.active {
          display: block;
          border-width: 0;
          > a > .link-text {
            display: inline-block;
            position: relative;
            &:before {
              content: ' ';
              display: inline-block;
              width: 8px;
              height: 8px;
              border-width: 2px 0 0 2px;
              border-color: $text-inactive-color;
              border-style: solid;
              transform: rotate(225deg) translateY(100%);;
              box-sizing: border-box;
              right: -10px;
              position: absolute;
              top: 50%;
            }
          }
        }
      }
      .nav-item + .nav-item {
        border-top: 1px solid $line-color;
      }
    }
  }
}

.site-content-container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  &.site-box-content {
    background-color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 60px 60px 45px 60px;
    @include media-breakpoint-down(xs) {
      padding: 20px 16px 20px 16px;
    }
  }
}

.site-margin-top-100 {
  margin-top: 100px;
}

.site-basic-contents {
  margin-top: 80px;
  @include media-breakpoint-down(sm) {
    margin-top: 40px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
    color: $brand-primary-color;
    margin-bottom: 12px;
  }
  h3:not(:first-child) {
    margin-top: 40px;
  }
  ul {
    padding-left: 16px;
    list-style: none;
    li {
      position: relative;
    }
    & > li:before {
      content: "\2022";
      color: $brand-primary-color;
      font-weight: bold;
      display: inline-block;
      width: 14px;
      margin-left: -12px;
      position: absolute;
    }
  }
  ol.schedule {
    list-style: none;
    padding-left: 0;
    display: inline-block;
    > li {
      position: relative;
    }
    > li:not(:last-child):after {
      content: ' ';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-width: 2px 0 0 2px;
      border-color: $brand-primary-color;
      border-style: solid;
      transform: rotate(225deg) translateX(50%);
      box-sizing: border-box;
      left: 50%;
      position: absolute;
      bottom: -20px;
    }
    > li + li {
      margin-top: 30px;
    }
    > li > .item {
      padding: 20px;
      border: 1px solid $brand-primary-color;
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
  table {
    font-size: 14px;
    border-top: 2px solid $brand-primary-color;
    thead th {
      color: $brand-primary-color;
      font-weight: normal;
    }
    tr {
      border-bottom: 1px solid $line-color;
    }
    th, td {
      padding: 5px 20px;
      @include media-breakpoint-down(xs) {
        padding: 5px 5px;
      }
      text-align: center;
    }
    th {
      font-weight: 600;
    }
    @include media-breakpoint-down(xs) {
      tbody td {
        font-size: 12px;
      }
    }
    ul {
      padding-left: 8px;
      margin-bottom: 0;
      list-style: none;
    }
    li > ul > li:before {
      display: none;
    }
  }
}

.site-btn-basic-container {
  margin-top: 100px;
  margin-bottom: 80px;
  .btn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
  }
}

body.app-pages-home {
  .key-visual {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 56%, #d4e8e9 81%, #b4d6d8 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 56%,#d4e8e9 81%,#b4d6d8 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 56%,#d4e8e9 81%,#b4d6d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b4d6d8',GradientType=0 );
    .key-panel-header {
      display: flex;
      flex-direction: row;
      @include media-breakpoint-down(lg) {
        position: relative;
      }
      .text-box {
        max-width: 50%;
        @include media-breakpoint-down(lg) {
          max-width: 60%;
        }
        @include media-breakpoint-down(sm) {
          max-width: none;
        }
        .main-title {
          padding-top: 160px;
          font-size: 70px;
          line-height: 78px;
          @include media-breakpoint-down(lg) {
            padding-top: 500px;
            font-size: 52px;
            line-height: 56px;
          }
          @include media-breakpoint-down(sm) {
            padding-top: 400px;
            font-size: 36px;
            line-height: 38px;
          }
          @include media-breakpoint-down(xs) {
            padding-top: 360px;
            font-size: 34px;
            line-height: 38px;
          }
          font-weight: bold;
          color: $brand-primary-important-color;
          white-space: nowrap;
          margin: 20px 0;
        }
        .main-subtitle {
          font-size: 36px;
          @include media-breakpoint-down(lg) {
            font-size: 30px;
          }
          @include media-breakpoint-down(xs) {
            font-size: 20px;
          }
          font-weight: bold;
          color: $brand-primary-color;
          white-space: nowrap;
          margin-bottom: 10px;
        }
        .main-desc {
          font-size: 20px;
          @include media-breakpoint-down(xs) {
            font-size: 16px;
          }
          color: $brand-primary-color;
        }
        .base-title {
          font-size: 16px;
          @include media-breakpoint-down(xs) {
            font-size: 14px;
          }
          color: $text-base-color;
          font-weight: 500;
          margin-top: 40px;
          margin-bottom: 10px;
        }
        .base-desc {
          font-size: 16px;
          @include media-breakpoint-down(xs) {
            font-size: 14px;
          }
          color: $text-base-color;
          font-weight: normal;
          ul {
            margin-top: 10px;
            padding-left: 18px;
            font-weight: normal;
          }
        }
      }
      .image-box {
        max-width: 50%;
        padding-left: 50px;
        @include media-breakpoint-down(lg) {
          max-width: none;
          position: absolute;
          right: 0;
          top: 0;
          width: 75%;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        @include media-breakpoint-down(xs) {
          padding: 0;
          overflow: hidden;
          text-align: center;
        }
        .key-image {
          max-width: 100%;
          @include media-breakpoint-down(xs) {
            height: 360px;
            max-width: none;
          }
        }
      }
    }
    .key-panel-body {
      position: relative;
      .video {
        width: 630px;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        margin-right: auto;
        margin-left: auto;
        height: 420px;
        @include media-breakpoint-down(sm) {
          max-height: 300px;
        }
        @include media-breakpoint-down(xs) {
          max-height: 200px;
        }
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        position: relative;
        z-index: 1;
      }
      .play {
        width: 60px;
        height: 60px;
      }
      .buttons {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        .btn {
          height: 48px;
          padding-left: 40px;
          padding-right: 40px;
          line-height: 36px;
          @include media-breakpoint-down(xs) {
            padding-left: 30px;
            padding-right: 30px;
          }
        }
        .button-help {
          margin-top: 10px;
          font-size: 14px;
        }
      }
      a.btn.btn-primary.btn-mainkey {
          margin-left: 20px;
          @include media-breakpoint-down(xs) {
            margin-left: 8px;
          }
      }
      .key-image-tables {
        max-width: 18%;
        position: absolute;
        top: 0;
        z-index: 0;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }
  .schedul {
    padding-top: 60px;
    padding-bottom: 60px;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: $text-light-color;
      text-align: center;
    }
    .items-single-row {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
      @include media-breakpoint-down(xs) {
        display: block;
      }
    }
    .items-multiple-rows {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
    .items-row {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgb(229, 229, 229);
      @include media-breakpoint-down(xs) {
        flex-direction: column;
        border-bottom: 0;
        position: relative;
      }
      .item {
        font-size: 16px;
        text-align: center;
        position: relative;
        @include media-breakpoint-down(xs) {
          padding-left: 24px;
          text-align: left;
          padding-bottom: 20px;
        }
        .desc {
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          white-space: nowrap;
          padding: 2px 4px;
          @include media-breakpoint-down(xs) {
            display: inline;
          }
        }
        .at {
          margin-top: 4px;
        }
        .dot {
          width: 12px;
          height: 12px;
          border-radius: 2px;
          margin-left: auto;
          margin-right: auto;
          background-color: rgb(229, 229, 229);
          margin-top: 5px;
          position: relative;
          bottom: -6px;
          z-index: 1;
          @include media-breakpoint-down(xs) {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        &.active .desc,
        &.active .dot {
          color: white;
          background-color: #198328;
        }
      }
      &.items-row-start .item:first-child:after {
        content: ' ';
        @include media-breakpoint-up(sm) {
          position: absolute;
          width: 50%;
          height: 1px;
          bottom: -1px;
          left: 0;
          background: white;
        }
        @include media-breakpoint-down(xs) {
          width: 1px;
          height: 100%;
          background: rgb(229, 229, 229);
          position: absolute;
          left: 5.5px;
          top: 5px;
        }
      }
      &.items-row-end .item:last-child:after {
        content: ' ';
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: -1px;
        left: 50%;
        background: white;
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
      @include media-breakpoint-down(xs) {
        & .item:after {
          content: ' ';
          width: 1px;
          height: 100%;
          background: rgb(229, 229, 229);
          position: absolute;
          left: 5.5px;
          top: 5px;
        }
      }
    }
  }
}

.site-footer {
  background-color: #dfeeef;
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-down(sm) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .site-footer-container {
    text-align: center;
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
    .logo {
      @include media-breakpoint-down(sm) {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        margin-bottom: 10px;
      }
    }
    .logo-desc {
      font-size: 18px;
      font-weight: 600;
      color: $text-light-color;
      margin-top: 18px;
      margin-bottom: 18px;
      @include media-breakpoint-down(sm) {
        font-size: 14px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 8px;
      }
    }
    .site-meta {
      .item {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        @include media-breakpoint-down(sm) {
          margin-left: 0;
          margin-top: 20px;
        }
        a, i {
          color: $text-inactive-color;
        }
      }
    }
  }
}

body.app-pages-privacy,
body.app-pages-terms,
body.app-users-confirm_form {
  background-color: $bg-light-color;
  h2 {
    font-size: 30px;
    color: $brand-primary-color;
  }
  .site-basic-contents:first-child {
    margin-top: 40px;
  }
}

body.app-ideas,
body.app-admin--ideas {
  background-color: $bg-light-color;
  h2 {
    margin-top: 66px;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    @include media-breakpoint-down(xs) {
      margin-top: 0;
      padding-top: 24px;
      padding-bottom: 24px;
    }
    background-color: white;
    border-bottom: 2px solid $bg-light-color;
    font-size: 24px;
    color: $brand-primary-color;
  }
  .form-box {
    background-color: #fff;
    padding: 60px 0 45px 0;
    @include media-breakpoint-down(xs) {
      padding: 20px 0 20px 0;
    }
    legend {
      font-size: 20px;
      font-weight: 500;
      color: $brand-primary-color;
      margin-bottom: 20px;
      small {
        font-size: 12px;
      }
    }
    .form-gruop {
      margin-bottom: 33px;
      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
      }
    }
    label {
      font-size: 14px;
      font-weight: normal;
    }
    > fieldset {
      padding-left: 60px;
      padding-right: 60px;
      @include media-breakpoint-down(xs) {
        padding-left: 16px;
        padding-right: 16px;
      }
      &.fieldset-bare {
        padding-left: 0;
        padding-right: 0;
        legend,
        .nested-fields,
        .add-member-link {
          padding-left: 60px;
          padding-right: 60px;
          padding-top: 10px;
          padding-bottom: 20px;
          @include media-breakpoint-down(xs) {
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
        .add-member-link {
          padding-top: 20px;
          @include media-breakpoint-down(xs) {
            padding-top: 10px;
          }
        }
        legend {
          margin-bottom: 0;
        }
        .nested-fields {
          background-color: #fbfbfb;
          border-top: 1px solid #d8d8d8;
        }
        .add-member-link {
          border-top: 1px solid #d8d8d8;
        }
      }
      &.fieldset-confirm {
        label {
          font-size: 16px;
          font-weight: 600;
        }
        ol {
          margin-top: 10px;
          padding-left: 20px;
          > li {
            font-size: 12px;
          }
        }
      }
    }
    fieldset:not(:last-child) {
      margin-bottom: 27px;
      @include media-breakpoint-down(xs) {
        margin-bottom: 20px;
      }
    }
    .form-control {
      border-radius: 0;
      border-color: $line-color;
    }
    .custom-file-label {
      border-radius: 0;
      border-color: $line-color;
      white-space: nowrap;
      overflow: hidden;
    }
    .help-block {
      font-size: 14px;
    }
  }
  .form-group-submit {
    margin-top: 60px;
    margin-bottom: 60px;
    input.btn {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
      font-weight: bold;
    }
    input.btn + input.btn {
      margin-left: 20px;
    }
    .form-check {
      margin-top: 10px;
      color: $text-inactive-color;
    }
  }
}

.devise-container {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  @include media-breakpoint-down(sm) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        width: 254px;
        height: 56px;
        line-height: 56px;
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        border-radius: 3px;
        text-decoration: none;
        img {
          height: 36px;
        }
      }
      &.facebook a{
        color: white;
        background-color: #1578f2;
        border: solid 1px #1578f2;
        &:hover, &:focus, &:active {
          background-color: #095ec6;
          border: solid 1px #095ec6;
        }
      }
      &.naver a{
        color: white;
        background-color: #00b650;
        border: solid 1px #03cf5d;
        &:hover, &:focus, &:active {
          background-color: #039845;
          border: solid 1px #039845;
        }
      }
      &.kakao a{
        color: $text-base-color;
        background-color: #ffcf4d;
        border: solid 1px #fdc800;
        &:hover, &:focus, &:active {
          background-color: #fdb300;
          border: solid 1px #fdb300;
        }
      }
    }
    li + li {
      margin-top: 15px;
    }
  }
  .desc {
    margin-top: 40px;
  }
}

@import "admin";
