%footer.site-footer.js-main-navbar-nav-exclude
  .container
    .site-footer-container
      .logo
        = image_tag 'home/logo.png', style: 'height: 56px;'
        .logo-desc
          대통령 직속
          %br.d-block.d-md-none
          3.1운동 및 대한민국 임시정부수립
          %br.d-block.d-md-none
          100주년 기념사업추진위원회
      .site-meta
        .item
          %i.fa.fa-phone
          %a(href='tel:0269592003') 02 6959 2003
        %br.d-block.d-sm-none
        .item
          %i.fa.fa-envelope
          %a(href='mailto:2019korchall@gmail.com') 2019korchall@gmail.com
        %br.d-block.d-md-none
        .item
          %a{ href: terms_path } 이용약관
        .item
          %a{ href: privacy_path } 개인정보처리방침
        .item
          %a{ href: "https://www.facebook.com/together100years", target: '_blank' }
            = image_tag "share-facebook.png", style: 'height: 24px; width: 24px;'

      - if user_signed_in? and current_user.admin?
        %hr
        .site-meta
          .item
            %a{ href: admin_root_path } 운영