%footer.js-hamburger-open-invisible.js-hamburger-close-visible
  .inner
    %p.keep-all
      3.1운동 및 대한민국 임시정부수립
      %br
      100주년 기념사업추진위원회
    %ul.sns
      %li
        %a.facebook(href="https://www.facebook.com/together100years" target="_blank") facebook
      -# %li
      -#   %a.youtube{:href => "#"} youtube
      -# %li
      -#   %a.instagram{:href => "#"} instagram

    %ul.contactus
      %li.tel 02 2100 1449
      %li.mail
        %a(href="mailto:2019koreachall@gmail.com") together100@korea.kr
      %li
        %a(href=terms_path) 이용약관
      %li
        %a(href=privacy_path) 개인정보취급방침
      %li
        - if user_signed_in?
          - if current_user.admin?
            = link_to '관리', admin_home_path
        - else
          = link_to '관리', new_user_session_path
