%header
  %nav#snMenu
    %button.js-hamburger-open.js-hamburger-open-invisible.js-hamburger-close-visible
      %span 메뉴열기
    %div
      %ul
        %li{ class: ('selected' if local_assigns[:selected] == :home)}
          %a(href=root_path) 코리아챌린지 홈
        %li{ class: ('selected' if local_assigns[:selected] == :intro)}
          %a(href=intro_path) 아이디어 제안
        - if false
          - if user_signed_in?
            %li
              = link_to "#{current_user.name} 로그아웃", destroy_user_session_path, method: :delete
            %li
              = link_to "탈퇴", cancel_current_user_path, method: :delete
          - else
            %li
              = link_to '로그인/가입', new_user_session_path
        -# %li.selected
        -#   %a(href="#") 챌린지 하이라이트
        -#   %ul
        -#     %li
        -#       %a(href="#") 행사 뉴스
        -#     %li
        -#       %a(href="#") 예선 경연
        -#     %li
        -#       %a(href="#") 본선 경연
        -#     %li
        -#       %a(href="#") 수상 결과
        -# %li
        -#   %a(href="#") 아이디어 제출
        -# %li
        -#   %a(href="#") 공지/FAQ
        -# %li
        -#   %a(href="#") 경연 결과
      %button.js-hamburger-close.js-subhamburger-toggle-indicator(type="button")
        %span 메뉴닫기
