%section.site-header
  .container
    .clearfix
      = image_tag 'pages/poll.png', class: 'site-header-image'
      .site-header-title 국민투표

%section
  .container{ class: local_assigns[:container_calss] }
    = content
